<?xml version="1.0" ?>
<robot name="stable_push_env" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- environments -->
  <link name="world_base" />
  <xacro:include filename="$(find honeycomb_table_description)/urdf/honeycomb_table.urdf.xacro"/>
  <joint name="world-env_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world_base"/>
    <child link="table_frame"/>
  </joint>

  <!-- indy7 -->
	<xacro:include filename="$(find twc_env_description)/urdf/indy7_macro.xacro"/>
  <xacro:indy7_prefix prefix="indy7_"/>
  <joint name="world-indy7_joint" type="fixed">
    <parent link="world_base"/>
    <child link="indy7_link0"/>
    <origin xyz="0.525 -0.025 0.016" rpy="0 0 ${PI}"/>
	</joint>

  <!-- handeye camera -->
  <xacro:include filename="$(find zivid2_indy7_handeye_description)/urdf/zivid2_indy7_handeye_description.urdf"/>
  <joint name="indy7-zivid2_joint" type="fixed">
    <parent link="indy7_tcp"/>
    <child link="handeye_mount_robot_side_link"/>
    <origin xyz="0 0 0" rpy="0 0 ${PI}"/>
  </joint>

  <!-- epick -->
  <xacro:include filename="$(find robotiq_epick_gripper_extend_visualization)/urdf/epick_extend_visualize.xacro"/>
  <joint name="zivid2-epick_joint" type="fixed">
    <parent link="handeye_mount_robot_side_link"/>
    <child link="epick_base"/>
    <origin xyz="0 0 0.016" rpy="0 0 ${PI}"/>
  </joint>
  <link name="epick_grasp_point">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.015 0.015 0.015"/>
        </geometry>
        <material name="epick_grasp_point">
          <color rgba="1 1 0 0.1"/>
        </material>
      </visual>
  </link>
  <joint name="epick_grasp_point" type="fixed">
    <parent link="indy7_tcp"/>
    <child link="epick_grasp_point"/>
    <origin xyz="0 0 0.237" rpy="0 0 0"/>
	</joint>

  <!-- doosan -->
  <xacro:include filename="$(find twc_env_description)/urdf/macro.m1013.white.xacro" />
  <xacro:m1013 namespace="m1013_"/>
  <joint name="world-doosan_joint" type="fixed">
    <parent link="world_base"/>
    <child link="m1013_base_0"/>
    <origin xyz="-0.6875 -0.0125 0" rpy="0 0 ${PI}"/>
  </joint>

  <!-- m1013 to irb120 mount -->
  <link name="m1013_to_irb120_link">
    <collision>
        <geometry>
            <cylinder radius="0.1" length="0.2"/>
        </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://twc_env_description/meshes/m1013_to_irb120.STL" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
  </link>
  <joint name="m1013_to_irb120_joint" type="fixed">
    <parent link="m1013_link6"/>
    <child link="m1013_to_irb120_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- 2f_gripper -->
  <xacro:include filename="$(find robotiq_2f_85_gripper_visualization)/urdf/robotiq_arg2f_85_long_model_macro.xacro" />
  <xacro:robotiq_arg2f_85 prefix=""/>
  <link name="robotiq_gripper_coupling">
    <visual>
      <origin xyz="0 0 0.004" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robotiq_2f_85_gripper_visualization/meshes/visual/robotiq_gripper_coupling.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="robotiq_gripper_coupling">
        <color rgba="0.1 0.1 0.1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.004" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robotiq_2f_85_gripper_visualization/meshes/visual/robotiq_gripper_coupling.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint name="m1013-robotiq_joint" type="fixed">
    <parent link="m1013_link6"/>
    <child link="robotiq_gripper_coupling"/>
    <origin xyz="0 0 0.016" rpy="0 0 ${PI/2}"/>
	</joint>
  <joint name="2f_gripper_coupling_joint" type="fixed">
    <parent link="robotiq_gripper_coupling"/>
    <child link="robotiq_arg2f_base_link"/>
    <origin xyz="0 0 0.008" rpy="0 0 1.570796"/>
	</joint>
  <link name="2f_grasp_point">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.015 0.015 0.015"/>
        </geometry>
        <material name="2f_grasp_point">
          <color rgba="1 0 1 0.1"/>
        </material>
      </visual>
  </link>
  <joint name="2f_grasp_point" type="fixed">
    <parent link="m1013_link6"/>
    <child link="2f_grasp_point"/>
    <!-- <origin xyz="0 0 0.25" rpy="0 0 1.570796"/> -->
    <origin xyz="0 0 0.266" rpy="0 0 0"/>
	</joint>

</robot>