<?xml version="1.0" ?>
<robot name="m1013_set" xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:property name="PI" value="3.1415926535897931"/>

  <!-- abb part -->
  <link name="m1013_to_irb120_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://tools_description/meshes/manipulator/m1013_to_irb120.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="m1013_to_irb120_material">
        <color rgba="0.0 1.0 0.0 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.1" length="0.2"/>
      </geometry>
    </collision>
  </link>

  <!-- gripper -->
  <xacro:include filename="$(find robotiq_2f_85_gripper_visualization)/urdf/robotiq_arg2f_85_long_model_macro.xacro" />
  <xacro:robotiq_arg2f_85 prefix=""/>
  <link name="robotiq_gripper_coupling">
    <visual>
      <origin xyz="0 0 0.004" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robotiq_2f_85_gripper_visualization/meshes/visual/robotiq_gripper_coupling.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="robotiq_gripper_coupling">
        <color rgba="0.1 0.1 0.1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.004" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robotiq_2f_85_gripper_visualization/meshes/visual/robotiq_gripper_coupling.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="m1013-robotiq_joint" type="fixed">
    <parent link="link6"/>
    <child link="robotiq_gripper_coupling"/>
    <origin xyz="0 0 0.016" rpy="0 0 0"/>
	</joint>

  <joint name="2f_gripper_coupling_joint" type="fixed">
    <parent link="robotiq_gripper_coupling"/>
    <child link="robotiq_arg2f_base_link"/>
    <origin xyz="0 0 0.008" rpy="0 0 0"/>
	</joint>

  <link name="2f_grasp_point">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.015 0.015 0.015"/>
        </geometry>
        <material name="2f_grasp_point">
          <color rgba="1 0 1 0.1"/>
        </material>
      </visual>
  </link>

  <joint name="2f_grasp_point" type="fixed">
    <parent link="link6"/>
    <child link="2f_grasp_point"/>
    <origin xyz="0 0 0.25" rpy="0 0 0"/>
	</joint>

</robot>