<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="hanyang_gripper">
  <link name="base_link">
   <visual>
        <geometry>
            <cylinder length="0.30" radius="0.20"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0.15"/>
        <material name="yellow">
            <color rgba="1 1 0 1"/>
        </material>
    </visual>

    <collision>
        <geometry>
            <cylinder length="0.30" radius="0.20"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0.15"/>
    </collision>

      <inertial>
        <mass value="1"/>
        <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>       
      </inertial>
 </link>
  
  <joint name="hand_joint" type="fixed">
    <parent link="link6"/>
    <child link="base_link"/>
    <origin xyz="0 0 0.004" rpy="0 0 0"/>
  </joint>

</robot>
