<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="zivid2_indy7_handeye_description">
  <link
    name="handeye_mount_robot_side_link">
    <inertial>
      <origin
        xyz="0.00542295717154243 -3.47172012574374E-18 0.00579697260656211"
        rpy="0 0 0" />
      <mass
        value="0.0609951923380376" />
      <inertia
        ixx="3.46204693116177E-05"
        ixy="1.26397696746349E-07"
        ixz="2.63618068582506E-07"
        iyy="4.43265762910423E-05"
        iyz="-1.35277987165136E-22"
        izz="7.73237143374981E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://zivid2_indy7_handeye_description/meshes/visual/handeye_mount_robot_side_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://zivid2_indy7_handeye_description/meshes/collision/handeye_mount_robot_side_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="handeye_mount_camera_side_left_link">
    <inertial>
      <origin
        xyz="-0.0245108685601493 0.015834659473862 -0.00286962559085117"
        rpy="0 0 0" />
      <mass
        value="0.00758533257273171" />
      <inertia
        ixx="1.35958863699959E-06"
        ixy="-2.20340605842161E-07"
        ixz="-8.81003623362969E-09"
        iyy="1.95061759862085E-06"
        iyz="-4.38636193121888E-09"
        izz="3.26709534910237E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://zivid2_indy7_handeye_description/meshes/visual/handeye_mount_camera_side_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://zivid2_indy7_handeye_description/meshes/collision/handeye_mount_camera_side_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="handeye_mount_camera_side_left_joint"
    type="fixed">
    <origin
      xyz="0.0758746859276655 -0.0375 0.00999999999999998"
      rpy="1.5707963267949 -1.5707963267949 0" />
    <parent
      link="handeye_mount_robot_side_link" />
    <child
      link="handeye_mount_camera_side_left_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="handeye_mount_camera_side_right_link">
    <inertial>
      <origin
        xyz="-0.0245108685601493 0.015834659473862 -0.00313037440914883"
        rpy="0 0 0" />
      <mass
        value="0.00758533257273171" />
      <inertia
        ixx="1.35958863699959E-06"
        ixy="-2.20340605842162E-07"
        ixz="8.81003623362979E-09"
        iyy="1.95061759862085E-06"
        iyz="4.38636193121886E-09"
        izz="3.26709534910237E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://zivid2_indy7_handeye_description/meshes/visual/handeye_mount_camera_side_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://zivid2_indy7_handeye_description/meshes/collision/handeye_mount_camera_side_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="handeye_mount_camera_side_right_joint"
    type="fixed">
    <origin
      xyz="0.0758746859276655 0.0315 0.01"
      rpy="1.5707963267949 -1.5707963267949 0" />
    <parent
      link="handeye_mount_robot_side_link" />
    <child
      link="handeye_mount_camera_side_right_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="handeye_mount_camera_side_front_link">
    <inertial>
      <origin
        xyz="-2.61587333391189E-18 0 0.005"
        rpy="0 0 0" />
      <mass
        value="0.00623322396259774" />
      <inertia
        ixx="1.07682822843439E-07"
        ixy="-1.24621756525767E-22"
        ixz="1.2133930982937E-22"
        iyy="2.23999747115371E-06"
        iyz="5.29395592033938E-23"
        izz="2.24265637118604E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://zivid2_indy7_handeye_description/meshes/visual/handeye_mount_camera_side_front_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://zivid2_indy7_handeye_description/meshes/collision/handeye_mount_camera_side_front_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="handeye_mount_camera_side_front_joint"
    type="fixed">
    <origin
      xyz="0.0842398489650436 0 0.00258218041752943"
      rpy="-1.30899693899574 0 1.5707963267949" />
    <parent
      link="handeye_mount_robot_side_link" />
    <child
      link="handeye_mount_camera_side_front_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="handeye_mount_camera_side_back_link">
    <inertial>
      <origin
        xyz="-2.99779924564527E-18 3.10338983952989E-05 0.005"
        rpy="0 0 0" />
      <mass
        value="0.00632693767145433" />
      <inertia
        ixx="1.0928370911591E-07"
        ixy="-1.15244818391595E-22"
        ixz="2.77138766799426E-23"
        iyy="2.4167045243584E-06"
        iyz="0"
        izz="2.41783153134202E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://zivid2_indy7_handeye_description/meshes/visual/handeye_mount_camera_side_back_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://zivid2_indy7_handeye_description/meshes/collision/handeye_mount_camera_side_back_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="handeye_mount_camera_side_back_joint"
    type="fixed">
    <origin
      xyz="0.0712988967099173 0 -0.0457141108969239"
      rpy="-1.30899693899574 0 1.5707963267949" />
    <parent
      link="handeye_mount_robot_side_link" />
    <child
      link="handeye_mount_camera_side_back_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="zivid2_link">
    <inertial>
      <origin
        xyz="-2.24053141334417E-08 0.0173151717883415 -0.0943181061541319"
        rpy="0 0 0" />
      <mass
        value="0.000142965573644119" />
      <inertia
        ixx="1.05563375392155E-10"
        ixy="-2.04165995999251E-16"
        ixz="-1.33737132708073E-15"
        iyy="1.71964639230322E-08"
        iyz="-6.47115870912104E-11"
        izz="1.72463016614633E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://zivid2_indy7_handeye_description/meshes/visual/zivid2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://zivid2_indy7_handeye_description/meshes/collision/zivid2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="zivid2_joint"
    type="fixed">
    <origin
      xyz="0.116358127472006 0 0.00846998015505189"
      rpy="-0.261799387799153 0 -1.5707963267949" />
    <parent
      link="handeye_mount_robot_side_link" />
    <child
      link="zivid2_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>